.product-site{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 8px;
    margin-top: 8px;
    padding:5px;
}
.product-name{
    margin-left:18px;
}
.crt-btn{
    width:150px;
    height:30px;
    background-color:goldenrod;
    border-radius: 5px;
    cursor: pointer;

}