*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.navbar-container{
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #415469;
    justify-content:space-around;
    line-height: 60px;
    height:60px;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.brand-name{
	height:30px;
	line-height: 30px;
	margin-top:10px;
	color:darkturquoise;
	font-weight: 700;
}

nav a{
   margin-top:0;
    text-decoration: none;
    margin-left: 20px;
    color:white;
    padding:10px;

}
nav a:hover{
    background-color: gray;
    padding:10px;
    border-radius: 5px;
    background-color:black;
}
 nav button{
    margin-left: 20px;
    font-size: 18px;
    background-color:transparent;
    outline: none;
    border: none;
    color:rgb(230, 223, 223);
    font-weight:500;
}
/* button:hover+ .hide {
    visibility: visible;

    width:fit-content;

    background-color:#4d484a;
    border-radius: 5px;
    color:white;
    margin-top: 15px;
    margin-right: 0px;
    display: inline-block;

}
.hide {

   display: inline-block;
   margin-right: 0 auto;
  }

  .myDIV:hover + .hide {

    color: red;
  } */
.user-name{
    color:#c52163;
    padding-left:15px;
}
